/* @import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply font-kalam min-h-screen;
  }

  section {
    @apply p-[5%];
  }
}

.responsive-img {
  width: 100%;
  height: auto;
  max-width: 400px; 
}


.image-zoom {
  transition: transform 0.3s ease-in-out;
}

.image-zoom:hover {
  transform: scale(1.10);
}

.abouts{
  background: url("./assets//images/abouts-img.jpg"),
    linear-gradient(#0098a1, #0098a1) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: multiply;
}

.reviews {
  background: url("./assets//images/reviews-img.jpg"),
    linear-gradient(#0098a1, #0098a1) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: multiply;
}

.newsletter {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
    url("./assets/images/image-1.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: multiply;
}


